.page {
  display: flex;
  flex-direction: column;
}

* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.hero {
  background-color: #1f2937;
  margin-top: -8px;
  margin-left: -8px;
  margin-right: -8px;
  padding-bottom: 20px;
 
}

.header {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;

}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

ul {
  display: flex;
  gap: 18px;
  margin: 0;
  list-style-type: none;
}

.link,
.smaller-text {
  font-size: 18px;
  color: #e5e7eb;
}

a {
  text-decoration: none;
  color: #f9faf8;
}

.big-text {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

.lower-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left-lower-header {
  max-width: 300px;
  margin-bottom: 20px;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 5px;
  padding: 5px;
}

.top-button {
  width: auto;
  border: none;
  padding: 5px 10px;
}

img {
  width: 80%;
  height: 200px;
  padding: 15px;
  border-radius: 75%;
}

.eiffel, .smart {
  width: 72%;
}

.strength {
  width: 55%;
}

.monkey {
  width: auto;
  border-radius: 0%;
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.middle-text {
  text-align: center;
  font-size: 36px;
  columns: #1f2937;
}

.images-section {
  display: flex;
  justify-content: space-evenly ;
}

.image-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-text {
  text-align: center;
}

.quote-section {
  background-color: #e5e7eb;
  border-radius: 20%;
  border: 1px solid black;
  margin-left: -8px;
  margin-right: -8px;
}

.quote {
  font-size: 36px;
  font-style: italic;
  padding-top: 60px;
  padding-left: 200px;
  padding-right: 200px;  
}

.quote-credit {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  padding-top: 30px;
  padding-right: 100px;
  padding-bottom: 50px;
  text-align: end;
  margin-top: -50px;
  margin-right: 100px;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.blue {
  background-color: #3882f6;
  border-radius: 25px;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-around;
  width: 600px;
}

.bottom-left {
  color: white;
  padding: 5px;
}

.bottom-small-header {
  margin-bottom: -15px;
}

.bottom-small-text {
  font-size: 14px;
}

.bottom-button {
  border: 1px solid white;
  height: 25px;
}

.footer {
  background-color: #1f2937;
  color: #f9faf8;
  text-align: center;
  padding: 5px;
  margin: -8px;
}